<!DOCTYPE html>
<html>
    <head>
        <title>About Me Quiz</title>
    </head>
    
    <body>
        <h1>How well do you know me? - Srivi Edition</h1>
        <form method="POST" action="/results">
            
            <h2>What's my favorite color?</h2>
                <input type="radio" name="dog_breed" value="0">Yellow<br>
                <input type="radio" name="dog_breed" value="6">Violet<br>
                <input type="radio" name="dog_breed" value="2">Red<br>
                <input type="radio" name="dog_breed" value="4">Green<br>
                
            <h2>What's my favorite piece of clothing?</h2>
                <input type="radio" name="clothing" value="2">Long-hang<br>
                <input type="radio" name="clothing" value="4">Dress<br>
                <input type="radio" name="clothing" value="6">Shorts<br>
                <input type="radio" name="clothing" value="0">Jeans<br>
                
            <h2>What do I do in my free time?</h2>
                <input type="radio" name="free_time" value="6" >Sleep<br>
                <input type="radio" name="free_time" value="0">Watch netflix<br>
                <input type="radio" name="free_time" value="4">Bike<br>
                <input type="radio" name="free_time" value="2">Read<br>
                
                
            <h2>What's my favorite animal?</h2>
                <input type="radio" name="animal" value="4">Dog<br>
                <input type="radio" name="animal" value="2">Cat<br>
                <input type="radio" name="animal" value="0">Snake<br>
                <input type="radio" name="animal" value="6">Monkey<br>
                
            <button type="submit">Check how well you know me!</button>
        </form>
    </body>
</html>