<!DOCTYPE html>
<html>
    <body>
        <h1>We're not friends.</h1>
        <img src'"http://www.parrotforums.com/attachments/general-parrot-information/11295d1401468828-best-funny-bird-google-pictures-mad-bb.jpg/>
    </body>
</html>